WSIG Server: Post from client with h2c support  breaks persistent connections

* gevent version: `24.2.1` installed from PyPI
* Python version: `3.11.9` installed via [pyenv](https://github.com/pyenv/pyenv)
* Operating System: Fedora 40 on Kernel 6.8.11-300.fc40

### Description:

I'm having a WSGI-Application, which receives `POST` requests from clients. Now, it a client supports the HTTP/2 Cleartext  (h2c) protocol and HTTP/1.1 persistent connections, this breaks.

I know, that gevent currently does not support HTTP/2. But whether h2c is used or not, is determined by the client sending a HTTP/1.1 request, which contains a  `Connection: Upgrade` and a `Upgrade: h2c` header (see [RFC 7540 Section 3.2](https://www.rfc-editor.org/rfc/rfc7540#section-3.2)). 

This case is currently not handled correctly by gevent, because it uses the `Connection` header to determine, whether its a websocket upgrade request or not (see [gevent.pywsgi._connection_upgrade_requested](https://github.com/gevent/gevent/blob/a67891991c95b5ffca78dc1f1a11f956ec3963ca/src/gevent/pywsgi.py#L814)). In this case, the logic passes the wrong buffer to the application as `wsgi.input` ([gevent.pyswgi.WSGIServer.get_environ](https://github.com/gevent/gevent/blob/a67891991c95b5ffca78dc1f1a11f956ec3963ca/src/gevent/pywsgi.py#L1279)), which results in the internal logic discarding parts of the next request after the first one has been handled ([gevent.pywsgi.handle_one_response](https://github.com/gevent/gevent/blob/a67891991c95b5ffca78dc1f1a11f956ec3963ca/src/gevent/pywsgi.py#L1110)), because the `wsgi_input` of the WSGIServer and the underlying buffer are out-of-sync.

This results in clients sending requests as h2c upgrade requests, alternatively receiving the correct response and a HTTP 400: Bad Request.

### What I've run:

I've created a minimal running example at https://github.com/hansingt/gevent_h2c_issue, which demonstrates this issue.

This example can be used to reproduce the issue quite simple.

First, clone this repository and create the virtual environment and install the requirements:

```bash
> git clone https://github.com/hansingt/gevent_h2c_issue.git
> cd gevent_upgrade_issue
> python -m venv venv
> ./venv/bin/pip install -r requirements.txt
```

Then, in one shell, start the server:

```bash
> ./venv/bin/python server.py
```

And in another shell start the client:

```bash
> ./venv/bin/python client.py
```

This results in the client displaying:

```
Hello, World!                                                                                                                                                 
HTTP 400: Bad Request                                                                                                                                         
Hello, World!                                                                                                                                                 
HTTP 400: Bad Request                                                                                                                                         
Hello, World!                                                                                                                                                 
HTTP 400: Bad Request                                                                                                                                         
Hello, World!                                                                                                                                                 
HTTP 400: Bad Request
# ...
```

And the Server:

```
<gevent._socket3.socket at 0x7f8faa011fc0 object, fd=6, family=2, type=1, proto=0>: (from ('127.0.0.1', 36432)) Invalid HTTP method: '.1\r\n'
<gevent._socket3.socket at 0x7f8faa011fc0 object, fd=6, family=2, type=1, proto=0>: (from ('127.0.0.1', 36448)) Invalid HTTP method: '.1\r\n'
<gevent._socket3.socket at 0x7f8faa011fc0 object, fd=6, family=2, type=1, proto=0>: (from ('127.0.0.1', 36454)) Invalid HTTP method: '.1\r\n'
<gevent._socket3.socket at 0x7f8faa011fc0 object, fd=6, family=2, type=1, proto=0>: (from ('127.0.0.1', 36462)) Invalid HTTP method: '.1\r\n'
```

@jamadden Ping! Is this project abandonned? Any thoughts on the issue?